/* YOUR SOLUTIONS HERE */
.ex-1-square:hover {
  background: red;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square:hover {
  border-radius: 100%;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: filter 2s;
}

.ex-7-img:hover {
  filter: sepia(0.6) grayscale(0.4);
}

.ex-8-img {
  transition: filter 2s, border-radius 2s;
}
.ex-8-img:hover {
  filter:sepia(0.5) grayscale(0.5);
  border-radius: 20px;
}

.ex-9-img:hover {
  filter:sepia(0.5) grayscale(0.5);
  border-radius: 20px;
  transform: scale(1.5);
}

@keyframes ruota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
